.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.login-content {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 500px;
}
.login-content h1 {
  color: white;
  font-size: 50px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
